@import '../../styles/variables';

$border: 2px solid $blue;

#search {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 4px 10px 0;
    border: $border;
  }

  button {
    border: $border;

    &:first-of-type,
    &:nth-of-type(3) {
      border-radius: 4px 0 0 4px;
    }

    &:nth-of-type(2),
    &:nth-of-type(4) {
      border-radius: 0 4px 4px 0;
    }

    &:nth-of-type(5) {
      margin-left: 10px;
    }
  }

  select {
    margin: 0 10px;
    border: $border;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
  }
}
